<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="NetworkCredentialUserName" value="stile" />
    <add key="NetworkCredentialPassword" value="Anthony1" />
    <add key="myfhaCredentialLocal" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="sqlconn"
         connectionString="Data Source=ec2-35-163-9-120.us-west-2.compute.amazonaws.com;Initial Catalog=myfhabackend;User ID=mikesweb;Password=Anthony1;Timeout = 3000; "
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>